* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 1% 4%;
    justify-content: space-between;
    align-items: center;
    background-color: #12372A;
}

nav a {
    color:#ffffff;
    text-decoration: none;
    font-size: 40px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color:#ffffff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box {
    width: 90%;
    color:#ffffff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
}

.text-box h1 {
    font-size: 30px;
}

.text-box p {
    margin: 10px 0px 20px;
    color:#ffffff;
    font-size: 14px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #12372A;
    background-color: #ffffff;
    padding: 15px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    background: #ADBC9F;
    transition: 1s;
}

@media(max-width: 700px) {
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #12372A;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    
}
